/* hover가 가능하면 PC */
@media (hover: hover) {
    #root{
        min-height: 100vh;
        background-color: #f8f9fa;
    }

    .user-name-input-label{
        width: 60px;
    }

    div.chat-room{
        width: 720px;
    }
    
    button.with-icon{
        display: flex;
    }
    
    .w300{
        width: 300px;
    }
    
    .message-nickname{
        font-weight: bold;
        margin-right: 4px;
    }
    
    .send-btn{
        width: 75px;
        height: 38px;
        margin-left: 6px;
    }
    
    .card{
        padding: 14px;
    }
    
    .text-box{
        padding: 6px;
    }
    
    .time{
        margin-left: 4px;
        color: #aaa;
        font-size: 13px;
        line-height: 2;
    }
    
    .chat-window{
        height: 400px;
        overflow-y: auto;
    }
    
    .user-list-window{
        width: 240px;
        height: 410px;
        margin-top: 40px;
        margin-left: 20px;
        overflow-y: auto;
    }
    
    /* 채팅 input */
    .form-control{
        resize: none;
    }
}

@media screen and (max-width: 720px) {
    div.chat-room{
        margin-left: 20px;
        width: 450px;
    }

    h4.home-title{
        font-size: 18px;
    }

    .chat-window{
        font-size: 15px;
        width: 400px;
        height: 400px;
        overflow-y: auto;
    }

    .user-list-window{
        width: 200px;
        height: 300px;
        margin-top: 40px;
        margin-left: -20px;
        overflow-y: auto;
    }

    button.exit-btn{
        margin-left: -20px;
    }

    /* 채팅 input */
    .form-control{
        resize: none;
    }

    .card{
        padding: 14px;
    }

    form.message-form{
        width: 400px;
    }

    form.message-form textarea{
        font-size: 14px;
    }

    form.nickname-form{
        width: 400px;
        margin-right: 25px;
    }
}